.faqs-section{
margin-top: 120px;
}

.faqs__container{

}

.faqs-h2{
width: 540px;
height: 48px;
left: 450px;
top: 2274px;
font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 48px;
text-align: center;
letter-spacing: -2.14286px;
color: #495567;
margin: 0 auto;
margin-bottom: 64px;
}

.faqs-top{
display: flex;
justify-content: space-between;
}

.faqs-top__h3{
width: 350px;
height: 48px;
left: 165px;
top: 2386px;
font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;
letter-spacing: -1.78571px;
color: #495567;
margin: 0;
}

.top-directed-img{
  width: 16px;
  height: 8px;
}

.how-download{
width: 730px;
left: 545px;
top: 2386px;
background-color: #F2F5F9;
padding: 32px 40px;
}

.how-download:hover{
  background-color: #FFF4DF;
}

.how-download__h3{
height: 28px;
left: 0%;
right: 45.23%;
top: calc(50% - 28px/2);
font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: #495567;
display: flex;
justify-content: space-between;
}

.how-download__p{
width: 650px;
height: 75px;
left: 585px;
top: 2470px;
font-family: Lexend Deca;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
color: #495567;
}

.how-find{
margin-top: 16px;
width: 730px;
height: 92px;
left: 545px;
top: 2593px;
background-color: #F2F5F9;
padding-left: 40px;
padding: 10px 30px;
}

.how-find:hover {
  background-color: #FFF4DF;
}

.how-find__h3{
height: 28px;
left: 0%;
right: 45.23%;
top: calc(50% - 28px/2);
font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: #495567;
display: flex;
justify-content: space-between;
}

.how-need{
margin-top: 16px;
width: 730px;
height: 92px;
left: 545px;
top: 2701px;
background-color: #F2F5F9;
padding-left: 40px;
padding: 10px 30px;
}

.how-need:hover {
  background-color: #FFF4DF;
}

.how-need__h3{
height: 28px;
left: 0%;
right: 41.08%;
top: calc(50% - 28px/2);
font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: #495567;
display: flex;
justify-content: space-between;
}

.faqs-bottom{
display: flex;
justify-content: space-between;
margin-top: 64px;
}

.faqs-bottom__h3{
width: 350px;
height: 48px;
left: 165px;
top: 2857px;
font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;
letter-spacing: -1.78571px;
color: #495567;
margin: 0;
}

.how-wear{
width: 730px;
height: 191px;
left: 545px;
top: 2857px;
background: #F2F5F9;
padding: 32px 40px;
}

.how-wear:hover {
  background-color: #FFF4DF;
}

.how-wear__h3{
height: 28px;
left: 0%;
right: 51.54%;
top: calc(50% - 28px/2);
font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: #495567;
display: flex;
justify-content: space-between;
}

.how-wear__p{
width: 650px;
height: 75px;
left: 585px;
top: 2941px;
font-family: Lexend Deca;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
color: #495567;
}

.how-about{
margin-top: 16px;
width: 730px;
height: 92px;
left: 545px;
top: 3064px;
background-color: #F2F5F9;
padding-left: 40px;
padding: 10px 30px;
}

.how-about:hover {
  background-color: #FFF4DF;
}

.how-about__h3{
height: 28px;
left: 0%;
right: 28.46%;
top: calc(50% - 28px/2);
font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: #495567;
display: flex;
justify-content: space-between;
}

.how-if{
margin-top: 16px;
width: 730px;
height: 92px;
left: 545px;
top: 3172px;
background-color: #F2F5F9;
padding-left: 40px;
padding: 10px 30px;
}

.how-if:hover {
  background-color: #FFF4DF;
}

.how-if__h3{
height: 28px;
left: 0%;
right: 45.23%;
top: calc(50% - 28px/2);
font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: #495567;
display: flex;
justify-content: space-between;
}