.site-header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.header__container {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 96px;
  align-items: center;
  padding: 35px 0;
  display: flex;
}

.scoot-logo-link {
  @include reset-list();
}

.scoot-logo {
  margin-right: 60px;
}

.site-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  @include reset-list();
  display: flex;
}

.navbar__item+.navbar__item {
  padding-left: 32px;
}

.navbar-link {
  @include reset-list();
  height: 25px;
  left: 0%;
  right: 81.53%;
  top: calc(50% - 25px/2);
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.navbar-link:hover {
  color: #FCB72B;
}

.header-right-get-scootin {
  width: 100%;
  max-width: 185px;
  background-color: #FCB72B;
  padding: 14px 39px;
  top: calc(50% - 25px/2);
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  border: 3px solid white;
}

.header-right-get-scootin:hover {
  background-color: white;
  border-color: #FCB72B;
  color: #FCB72B;
}

.hamburger-btn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hamburger-btn .hamburger-exit {
  display: none;
}

@media only screen and (max-width: 768px) {
  .site-header {
    width: 100%;
    max-width: 768px;
    height: 100%;
    max-height: 96px;
  }

  .header__container {
    width: 100%;
    max-width: 768px;
    height: 100%;
    max-height: 96px;
    display: flex;
    align-items: center;
    padding: 35px 40px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 603px) {
  .hamburger-btn {
    display: block;
    order: -1;
    width: 30px;
    height: 20px;
    z-index: 21;
    padding-left: 10px;
  }

  .site-nav {
    display: none;
    position: relative;
  }

  .header--adaptive .site-nav {
    display: block;
    position: fixed;
    width: 80%;
    height: 100%;
  }

  .site-header {
    width: 100%;
    max-width: 603px;
    height: 100%;
    max-height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__container {
    position: relative;
  }

  .site-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    width: 256px;
    left: 0px;
    top: 96px;
    background-color: #333A44;
  }

  .nav__list {
    flex-direction: column;
    text-align: center;
    width: 89px;
    height: 123px;
    left: 32px;
    top: 128px;
    padding-top: 64px;
    padding-left: 32px;
  }

  .navbar__item {
    padding: 0
  }

  .navbar__item:nth-child(1) {
    padding-left: 31px;
  }

  .navbar__item+.navbar__item {
    padding-top: 24px;
  }

  .header-right-get-scootin {
    display: none;
  }

  .header--adaptive .header-right-get-scootin {
    position: absolute;
    bottom: 0;
    display: block;
    width: 192px;
    height: 53px;
    padding: auto;
    top: calc(50% - 25px/2);
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
  }

  .header--adaptive .hamburge-exit {
    display: block;
  }

  .scoot-logo {
    align-items: center;
    padding: 0 auto;
    order: 1;
  }


}